<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://www.ros.org/wiki/xacro/#interface">

  <xacro:macro name="youbot_gripper_transmission" params="name mimic:=false">

    <transmission name="${name}_finger_l_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <actuator name="${name}_finger_l_motor">
        <xacro:unless value="${mimic}">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </xacro:unless>
        <xacro:if value="${mimic}">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </xacro:if>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      <joint name="${name}_finger_joint_l">
        <xacro:unless value="${mimic}">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </xacro:unless>
        <xacro:if value="${mimic}">
          <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </xacro:if>
      </joint>
    </transmission>
  
    
    <xacro:unless value="${mimic}">
      <transmission name="${name}_finger_r_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <actuator name="${name}_finger_r_motor">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
        <joint name="${name}_finger_joint_r">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
      </transmission>
    </xacro:unless>

    <xacro:if value="${mimic}">
      <gazebo>
        <!-- loading plugin: mimic joints works in gazebo now-->
        <plugin filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so" name="${name}_finger_r_mimic">
          <joint>${name}_finger_joint_l</joint>
          <mimicJoint>${name}_finger_joint_r</mimicJoint>
          <multiplier>1.0</multiplier>
          <offset>0.0</offset>
          <!-- <robotNamespace>/arm_1</robotNamespace> -->
          <hasPID />
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
